[package]
name = "dusk-blindbid"
version = "0.1.0"
authors = ["CPerezz <carlos@dusk.network>", "Victor Lopez <victor@dusk.network>"]
edition = "2018"

[dependencies]
anyhow = "1.0.0"
dusk-pki = {git = "https://github.com/dusk-network/dusk-pki", tag = "v0.1.1"}
dusk-plonk = {version = "0.2.11", features = ["trace-print"]}
kelvin = "0.19.0"
num-bigint = "0.2.6"
num-traits = "0.2.11"
plonk_gadgets = {git = "https://github.com/dusk-network/plonk_gadgets", tag = "v0.3.0"}
thiserror = "1.0.20"
rand_core = "0.5.1"
lazy_static = "1.4.0"
rand = "0.7"
nstack = "0.5"

[dependencies.poseidon252]
git = "https://github.com/dusk-network/Poseidon252"
branch = "vlopes11/poseidon-tree-annot-generic"
